@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Footer Init*/
.piePagina{
    width: 100%;
}

.grupo1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px
}

.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box figure img {
    width: 250px;
}

.box h2 {
    margin-bottom: 25px;
    font-size: 20px;
}

.box p {
    margin-bottom: 10px;
}

.redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #000;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.redSocial a:hover{
    color:#00ffff;
}

.grupo2{
    padding: 15px 10px;
    text-align: center;
}

.grupo2 small{
    font-size: 15px;
}

.carousel .carousel-item{
    max-height: 400px;
}
